In [1]:
from NIDS import *

In [2]:
nids = pd.read_csv("UNSW-NB15-BALANCED-TRAIN.csv", low_memory=False)
nids.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.1,55490,149.171.126.3,53,udp,CON,0.001050,146,178,31,...,0,3,4,3,2,1,1,1,NaN,0
1,59.166.0.9,26756,149.171.126.8,21,tcp,FIN,4.264797,2934,3738,31,...,4,5,5,15,11,5,5,8,NaN,0
2,175.45.176.1,1043,149.171.126.14,53,udp,INT,0.000003,114,0,254,...,,17,17,14,14,14,14,17,Generic,1
3,175.45.176.3,1043,149.171.126.18,53,udp,INT,0.000003,114,0,254,...,,25,25,25,25,25,25,25,Generic,1
4,59.166.0.4,34472,149.171.126.3,10429,tcp,FIN,0.052957,3718,43086,31,...,,5,8,3,2,1,1,2,NaN,0

In [3]:
#converting null values to str
nids['ct_flw_http_mthd'] = nids['ct_flw_http_mthd'].astype('str')
nids['ct_flw_http_mthd'] = nids['ct_flw_http_mthd'].astype('str')
nids['is_ftp_login'] = nids['is_ftp_login'].astype('str')
nids['ct_ftp_cmd'] = nids['ct_ftp_cmd'].astype('str')

#converting str to int
nids['attack_cat'] = pd.factorize(nids['attack_cat'])[0]
nids['proto'] = pd.factorize(nids['proto'])[0]
nids['state'] = pd.factorize(nids['state'])[0]
nids['service'] = pd.factorize(nids['service'])[0]

nids['ct_flw_http_mthd'] = pd.factorize(nids['ct_flw_http_mthd'])[0]
nids['ct_flw_http_mthd'] = pd.factorize(nids['ct_flw_http_mthd'])[0]
nids['is_ftp_login'] = pd.factorize(nids['is_ftp_login'])[0]
nids['ct_ftp_cmd'] = pd.factorize(nids['ct_ftp_cmd'])[0]

nids

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.1,55490,149.171.126.3,53,0,0,0.001050,146,178,31,...,0,3,4,3,2,1,1,1,-1,0
1,59.166.0.9,26756,149.171.126.8,21,1,1,4.264797,2934,3738,31,...,1,5,5,15,11,5,5,8,-1,0
2,175.45.176.1,1043,149.171.126.14,53,0,2,0.000003,114,0,254,...,2,17,17,14,14,14,14,17,0,1
3,175.45.176.3,1043,149.171.126.18,53,0,2,0.000003,114,0,254,...,2,25,25,25,25,25,25,25,0,1
4,59.166.0.4,34472,149.171.126.3,10429,1,1,0.052957,3718,43086,31,...,2,5,8,3,2,1,1,2,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449791,175.45.176.0,12733,149.171.126.16,21,1,1,0.977167,1072,1656,62,...,3,1,1,2,2,1,1,2,2,1
449792,175.45.176.1,1043,149.171.126.18,53,0,2,0.000004,114,0,254,...,0,16,16,7,13,7,3,7,0,1
449793,59.166.0.9,31192,149.171.126.8,27796,1,1,0.019671,3182,35916,31,...,0,2,8,1,4,1,1,1,-1,0
449794,175.45.176.1,1043,149.171.126.18,53,0,2,0.000010,114,0,254,...,2,41,41,25,25,25,14,41,0,1
449795,59.166.0.8,56828,149.171.126.2,55145,1,1,0.027818,2854,31402,31,...,0,16,8,2,4,1,1,1,-1,0