# Used Sites

Transformers tutorial - https://huggingface.co/course/chapter1/1?fw=pt

Transformers pipeline tutorial - https://huggingface.co/docs/transformers/main/en/pipeline_tutorial

https://stackoverflow.com/questions/62676136/extract-sentence-embeddings-features-with-pandas-and-spacy

https://stackoverflow.com/questions/44395656/applying-spacy-parser-to-pandas-dataframe-w-multiprocessing

https://prrao87.github.io/blog/spacy/nlp/performance/2020/05/02/spacy-multiprocess.html

https://spacy.io/api/language#pipe

https://www.nbshare.io/notebook/595607887/Understanding-Word-Embeddings-Using-Spacy-Python/

# Quick access
## Files
Yelp - http://localhost:8888/edit/Projects/Project02/Yelp.py

Yelp_Manager - http://localhost:8888/edit/Projects/Project02/Yelp_Manager.py

## Sites
Overleaf - https://www.overleaf.com/project/64114be1556eabd7416556c7

Transformers tutorial - https://huggingface.co/course/chapter1/1?fw=pt

Transformers pipeline tutorial - https://huggingface.co/docs/transformers/main/en/pipeline_tutorial

In [2]:
from Yelp_Manager import *

In [3]:
start = time.time()

In [4]:
yelp = Yelp_Manager(preprocessed=False)
yelp.initialize() #194 seconds/7 million rows #5.5 seconds/100,000 rows

In [5]:
end = time.time()
print(end - start)

174.64839029312134

In [6]:
yelp.yelp.head()

,stars,useful,funny,cool,text
0,3,0,0,0,"If you decide to eat here, just be aware it is..."
1,5,1,0,1,I've taken a lot of spin classes over the year...
2,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...
3,5,1,0,1,"Wow! Yummy, different, delicious. Our favo..."
4,4,1,0,1,Cute interior and owner (?) gave us tour of up...

In [7]:
#yelp.x['text'].apply(yelp.nlp)
#yelp.x.loc[0, 'text']

In [8]:
start = time.time()

In [9]:
#yelp.x['vectors'] = yelp.spacy_vectorize(yelp.x) #121 seconds/100,000
#vectors = yelp.count_vectorize(yelp.x) #5 seconds/100,000
#yelp.x['text'].apply(yelp.nlp) #137/10,000
yelp.preprocess_dataset() #95 seconds/100,000 #4636.126925468445 seconds/7 million records

In [10]:
end = time.time()
print(end - start)

4636.126925468445

In [16]:
yelp.x

                                                      text
0        decide eat aware going 2 hours beginning end t...
1        taken lot spin classes years compares classes ...
2        family diner buffet eclectic assortment large ...
3        wow yummy different delicious favorite lamb cu...
4        cute interior owner gave tour upcoming patio r...
...                                                    ...
6990275  latest addition services iccu apple pay iccu d...
6990276  spot offers great affordable east weekend padd...
6990277  home depot won needed lot demential lumber war...
6990278  feeling like ignoring calorie counting indulgi...
6990279  located walking district nashville bit way mis...

[6990280 rows x 1 columns]

In [17]:
#available variables
# yelp.x, yelp.y
# yelp.X_train, yelp.y_train
# yelp.X_valid, yelp.y_valid
# yelp.X_test, yelp.y_test
# yelp.count_vectorize(whateverdataset['text'])

In [18]:
yelp.x

                                                      text
0        decide eat aware going 2 hours beginning end t...
1        taken lot spin classes years compares classes ...
2        family diner buffet eclectic assortment large ...
3        wow yummy different delicious favorite lamb cu...
4        cute interior owner gave tour upcoming patio r...
...                                                    ...
6990275  latest addition services iccu apple pay iccu d...
6990276  spot offers great affordable east weekend padd...
6990277  home depot won needed lot demential lumber war...
6990278  feeling like ignoring calorie counting indulgi...
6990279  located walking district nashville bit way mis...

[6990280 rows x 1 columns]